<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="SaveFormatCar" value="txt"/>
    <add key="FileNameCar" value="Cars.txt"/>
    <add key ="SaveFormat" value ="txt"/>
    <add key="FileName" value="Clients.txt"/>
  </appSettings>
</configuration>